/* здесь подключите шрифты */
@font-face {
    font-family: 'Raleway';
    src: url(../../fonts/Raleway-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../../fonts/Comfortaa-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}