/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol,
dl,
dd,
dt {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}