$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;

@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

// Улучшение ux-составляющей кнопки на мобильных и стационарных устройств
@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
