.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin: 0 auto;
    padding-inline: var(--container-padding-x);
}

.section {
  margin-block-end: 60px;
}

.title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 36px;
  color: var(--accent-light-color);
  line-height: 1;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.visible-mobile {
  @include tablet {
    display: none !important;
  }
}
