/* здесь используйте глобальные переменные */
:root {
    --main-font: 'Raleway', sans-serif;
    --accent-font: 'Comfortaa', sans-serif;

    --light-color: #fbfcfe;
    --sky-color: #f1f6fc;
    --leaf-color: rgb(142, 152, 146, 0.7);
    --dark-color: #000;

    --accent-dark-color: #6a107a;
    --accent-light-color: #0f805d;
    --accent-light-hover-color: #7bdb0a;

    --transition-duration: 0.2s;

    --container-width: 1128px;
    --container-padding-x: 26px;

    --section-margin-bottom: 60px;
}
