.catalog {

  &__title {
    text-align: center;
    margin-block-end: 72px;

    @include tablet {
      margin-block-end: 75px;
    }
  }

  &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, 264px);
      justify-content: center;
      gap: 24px;

      @include tablet {
        gap: 52px;
      }
    }

    &__item {
      max-height: 432px;
    }

  &__card {
    width: 100%;

    display: flex;
    padding-block-end: 54px;
    flex-direction: column;
    align-items: center;
    row-gap: 31px;
    border: 1px solid rgba(88, 13, 101, 0.25);
    box-shadow: 0 2px 8px rgba(88, 13, 101, 0.25);
    overflow: hidden;
    border-radius: 42px;
    color: var(--dark-color);




    &-subtitle {
      color: var(--accent-light-color);
      font-family: 'Raleway';
      font-size: 28px;
      font-weight: 400;
    }
  }

  &__price-list {
    display: flex;
    column-gap: 19px;
    font-size: 18px;
    margin-block-end: 8px;
  }


}
