.header {
  background-color: var(--sky-color);
  color: var(--dark-color);
  padding-block: 8px;
  border-bottom: 1px solid rgba(88, 13, 101, 0.25);
  box-shadow: 0 2px 8px rgba(88, 13, 101, 0.25);
  @include tablet {
    padding-block: 22px;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

  }

  &__navigation {
    position: absolute;
    pointer-events: none;
    inset: 0;
    top: -100vh;
    height: 50vh;
    padding: 32px 40px;
    background-color: var(--sky-color);
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
    padding: 32px 40px;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    @include tablet {
      position: static;
      transform: none;
      height: auto;
      padding: 0;
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }

    &--open {
      top: 70px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      
      @include tablet {
        flex-direction: row;
        column-gap: clamp(56px, 7vw, 98px);
        max-width: 612px;
    }

    }


  }
  &__burger-button {
    @include flex-center;

    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    &::after {
      content: "";
      width: 45px;
      height: 5px;
      border-radius: 5px;
      background-color: var(--accent-light-color);
      box-shadow: 0 -12px var(--accent-light-color), 0 12px var(--accent-light-color);
    }
    &:hover::after {
        transition-duration: var(--transition-duration);
        background-color: var(--accent-light-hover-color);
        box-shadow: 0 -12px var(--accent-light-hover-color), 0 12px var(--accent-light-hover-color);
    }

    @include tablet {
      display: none;
    }
  }
}
