.hero {
    background-image: url(../../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        padding-block-start: 60px;
        padding-block-end: 190px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
          padding-block-start: 142px;
          padding-block-end: 420px;
          align-items: flex-end;
        }

        @include desktop {
          padding-block-start: 170px;
          padding-block-end: 252px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
          align-items: flex-start;
        }

        @include desktop {
          padding-inline-end: 134px;
        }
    }

    &__title {
        min-width: 265px;
        text-align: center;
        margin-block-end: 35px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        row-gap: 16px;
        margin-block-end: 58px;

        max-width: 208px;

        @include tablet {
            font-size: 18px;
            line-height: 1.2;
            padding: 0;
            max-width: 502px;
        }
    }

    &__item {
        display: flex;
        column-gap: 16px;
        align-items: center;


        &::before {
          content: '';
          width: 32px;
          aspect-ratio: 1;
          flex-shrink: 0;
        }

        &:nth-child(1)::before {
          background-image: url(../../icons/leaf-icon.svg);
          background-repeat: no-repeat;
        }

        &:nth-child(2)::before {
          background-image: url(../../icons/ice-icon.svg);
          background-repeat: no-repeat;
        }

        &:nth-child(3)::before {
          background-image: url(../../icons/ic_outline-delivery-dining.svg);
          background-repeat: no-repeat;
        }
    }

    &__button {
        font-family: 'Raleway';
        padding: 16px 5px;
        font-size: 20px;
        max-width: 336px;
        width: 100%;

    }
}
